{
  "openapi": "3.0.3",
  "info": {
    "title": "AgentToll",
    "version": "0.12.0",
    "description": "Pay-per-call data APIs for AI agents. Paid endpoints return HTTP 402 with an x402 quote; pay $0.001-$0.008 in USDC on Base mainnet per call. No API keys. Onchain identity: agenttoll.base.eth.",
    "contact": {
      "name": "AgentToll",
      "url": "https://github.com/tevfikefeaydin/agenttoll/issues",
      "email": "tevfikefe.aydin@gmail.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/tevfikefeaydin/agenttoll/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://agenttoll.app"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Service status (free)",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": []
      }
    },
    "/api/catalog": {
      "get": {
        "summary": "Machine-readable catalog of everything for sale (free)",
        "responses": {
          "200": {
            "description": "Catalog"
          }
        },
        "security": []
      }
    },
    "/api/demo": {
      "get": {
        "summary": "Sample response shapes for every paid endpoint (free)",
        "responses": {
          "200": {
            "description": "Samples"
          }
        },
        "security": []
      }
    },
    "/api/stats": {
      "get": {
        "summary": "Onchain-derived toll counter (free): calls, USDC revenue, unique payers, and the same figures excluding the operator's own test wallet",
        "responses": {
          "200": {
            "description": "Stats read from USDC transfers on Base"
          }
        },
        "security": []
      }
    },
    "/api/price/{symbol}": {
      "get": {
        "summary": "Spot price (USD) + 24h change for a crypto asset",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,31}$",
              "minLength": 1,
              "maxLength": 32
            },
            "example": "eth",
            "description": "Ticker (eth, btc, sol, usdc, aero, degen...) or any CoinGecko id, e.g. degen-base"
          }
        ],
        "responses": {
          "200": {
            "description": "Price data"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/gas": {
      "get": {
        "summary": "Base network gas price and latest block, optionally costed for a transaction size",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "gasLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 21000,
              "maximum": 30000000
            },
            "example": 150000,
            "description": "Optional. Price a transaction of this gas size: the reply gains estimate.ethCost and estimate.usdCost. 21000 is a plain transfer, ~65000 an ERC-20 transfer, 150000-300000 a swap."
          }
        ],
        "responses": {
          "200": {
            "description": "Gas data"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/trending": {
      "get": {
        "summary": "Tokens trending across the market right now",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.002"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25
            },
            "example": 5,
            "description": "Optional. Return only the top N tokens. Defaults to the provider's full list."
          }
        ],
        "responses": {
          "200": {
            "description": "Trending tokens"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/token/{address}": {
      "get": {
        "summary": "Onchain USD price for any Base token by contract address",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token price"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/address/{address}": {
      "get": {
        "summary": "Base address snapshot: ETH balance, tx count, contract or EOA",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address info"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/trending": {
      "get": {
        "summary": "Trending DEX pools on Base: price, volume, liquidity",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.002"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            },
            "example": 5,
            "description": "Optional. How many pools to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Trending pools"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/radar": {
      "get": {
        "summary": "New token radar: fresh Base pools that already hold real liquidity, spam filtered",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.003"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "minLiquidity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1000000000,
              "default": 10000
            },
            "example": 50000,
            "description": "Optional. Liquidity floor in USD. Raise it to cut more spam, lower it to see everything new."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 15
            },
            "example": 5,
            "description": "Optional. How many pools to return, busiest first."
          }
        ],
        "responses": {
          "200": {
            "description": "New pools, each carrying its token address so it can be passed straight to /api/base/safety"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/feargreed": {
      "get": {
        "summary": "Crypto Fear & Greed index with yesterday comparison and optional daily history",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30
            },
            "example": 7,
            "description": "Optional. Add a daily history array covering this many days, so you can see whether sentiment is turning."
          }
        ],
        "responses": {
          "200": {
            "description": "Index"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/brief": {
      "get": {
        "summary": "One-call market brief: prices, Base gas, sentiment",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "btc,eth,sol"
            },
            "example": "eth,degen,aero",
            "description": "Optional. Comma-separated tickers or CoinGecko ids to price instead of the default majors, up to 6. Same flat price either way."
          }
        ],
        "responses": {
          "200": {
            "description": "Brief"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/try/premium": {
      "get": {
        "summary": "Turkish lira premium: implied vs official USD/TRY via a crypto cross-rate",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.002"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "btc",
                "eth",
                "usdt",
                "usdc"
              ],
              "default": "btc"
            },
            "example": "usdt",
            "description": "Optional. Which asset carries the cross-rate. USDT is the reading desks quote, because it is what actually changes hands."
          }
        ],
        "responses": {
          "200": {
            "description": "Premium"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/portfolio/{address}": {
      "get": {
        "summary": "Everything a Base address holds, valued in USD: ETH plus its ERC-20 tokens, largest first",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.003"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "minValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1000000000,
              "default": 1
            },
            "example": 100,
            "description": "Optional. USD floor per holding, which is what keeps airdropped spam out of the answer."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            },
            "example": 10,
            "description": "Optional. How many holdings to list. The total always covers everything above the floor, listed or not."
          }
        ],
        "responses": {
          "200": {
            "description": "Holdings, totals, and how many were hidden or could not be priced"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/safety/{address}": {
      "get": {
        "summary": "Automated safety checks for a Base token: honeypot, taxes, owner privileges, holder concentration, liquidity",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.003"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            },
            "example": "0x940181a94A35A4569E4529A3CDfB74e38FD98631",
            "description": "Token contract address on Base"
          }
        ],
        "responses": {
          "200": {
            "description": "Verdict (clear, caution, high-risk or insufficient-data) plus every individual check"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/name/{nameOrAddress}": {
      "get": {
        "summary": "Basename resolution both ways: a name returns its address, owner and text records; a 0x address returns its primary basename",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "nameOrAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "agenttoll.base.eth",
            "description": "A basename (the .base.eth suffix is optional) or a 0x address"
          }
        ],
        "responses": {
          "200": {
            "description": "Resolution result"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/watch/address/{address}": {
      "get": {
        "summary": "New activity for a Base address since your cursor. The reply's `cursor` is what you pass as `since` next time.",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.002"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO timestamp cursor from the previous reply"
          }
        ],
        "responses": {
          "200": {
            "description": "Events since the cursor"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/watch/radar": {
      "get": {
        "summary": "Only the Base pools that appeared since your cursor",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.003"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO timestamp cursor from the previous reply"
          }
        ],
        "responses": {
          "200": {
            "description": "New pools since the cursor"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/watch/price/{symbol}": {
      "get": {
        "summary": "Price alert check: has the asset moved past your threshold from your reference price?",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eth"
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Reference price in USD"
          },
          {
            "name": "pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 2
            },
            "description": "Threshold in percent"
          }
        ],
        "responses": {
          "200": {
            "description": "Alert state"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/scout": {
      "get": {
        "summary": "Radar and safety composed: today’s new Base pools above your liquidity floor, each with a safety verdict attached",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.008"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "minLiquidity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1000000000,
              "default": 15000
            },
            "example": 25000,
            "description": "Optional. Liquidity floor in USD."
          },
          {
            "name": "pools",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4,
              "default": 3
            },
            "example": 3,
            "description": "Optional. How many of the top pools to safety-check."
          }
        ],
        "responses": {
          "200": {
            "description": "New pools with safety verdicts and a summary"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/radar/history": {
      "get": {
        "summary": "A past day’s radar+safety snapshot, exactly as committed to public git the day it was taken, with the Base tx that paid for it",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.002"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^d{4}-d{2}-d{2}$"
            },
            "example": "2026-08-06",
            "description": "Optional. Snapshot day, default latest. History begins 2026-08-06."
          }
        ],
        "responses": {
          "200": {
            "description": "The snapshot plus provenance links (git commit, raw file, settlement tx)"
          },
          "400": {
            "description": "Invalid or unavailable date (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/scorecard": {
      "get": {
        "summary": "The radar’s track record: tokens it surfaced grouped by the verdict they got then, valued at what they trade for now",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 7
            },
            "example": 7,
            "description": "Optional. How many trailing snapshot days to cover."
          }
        ],
        "responses": {
          "200": {
            "description": "Cohort stats and per-token rows, each verifiable against a dated git commit"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/fresh": {
      "get": {
        "summary": "Uniswap v4 pools read straight off Base seconds after they exist, before any indexer has them",
        "x-payment-info": {
          "price": {
            "currency": "USD",
            "mode": "fixed",
            "amount": "0.004"
          },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "scheme": "exact",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "assetSymbol": "USDC",
                "payTo": "0xe55359021a6a22d8385b827405991c56075f56f8"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "minutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 60,
              "default": 10
            },
            "example": 10,
            "description": "Optional. How far back to look."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 15
            },
            "example": 15,
            "description": "Optional. How many pools to return, youngest first."
          },
          {
            "name": "fundedOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true,
            "description": "Optional. Drop pools nobody has added liquidity to yet."
          }
        ],
        "responses": {
          "200": {
            "description": "Pools with the launched token, funding status, and hook provenance"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    }
  }
}
