{
  "openapi": "3.0.3",
  "info": {
    "title": "AgentToll",
    "version": "0.6.0",
    "description": "Pay-per-call data APIs for AI agents. Paid endpoints return HTTP 402 with an x402 quote; pay $0.001-$0.005 in USDC on Base mainnet per call. No API keys. Onchain identity: agenttoll.base.eth.",
    "contact": {
      "name": "AgentToll",
      "url": "https://github.com/tevfikefeaydin/agenttoll/issues",
      "email": "tevfikefe.aydin@gmail.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/tevfikefeaydin/agenttoll/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://agenttoll.app"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Service status (free)",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": []
      }
    },
    "/api/catalog": {
      "get": {
        "summary": "Machine-readable catalog of everything for sale (free)",
        "responses": {
          "200": {
            "description": "Catalog"
          }
        },
        "security": []
      }
    },
    "/api/demo": {
      "get": {
        "summary": "Sample response shapes for every paid endpoint (free)",
        "responses": {
          "200": {
            "description": "Samples"
          }
        },
        "security": []
      }
    },
    "/api/stats": {
      "get": {
        "summary": "Onchain-derived toll counter (free): calls, USDC revenue, unique payers, and the same figures excluding the operator's own test wallet",
        "responses": {
          "200": {
            "description": "Stats read from USDC transfers on Base"
          }
        },
        "security": []
      }
    },
    "/api/price/{symbol}": {
      "get": {
        "summary": "Spot price (USD) + 24h change for a crypto asset",
        "x-price-usdc": "0.001",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eth"
          }
        ],
        "responses": {
          "200": {
            "description": "Price data"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/gas": {
      "get": {
        "summary": "Base network gas price and latest block, optionally costed for a transaction size",
        "x-price-usdc": "0.001",
        "parameters": [
          {
            "name": "gasLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 21000,
              "maximum": 30000000
            },
            "example": 150000,
            "description": "Optional. Price a transaction of this gas size: the reply gains estimate.ethCost and estimate.usdCost. 21000 is a plain transfer, ~65000 an ERC-20 transfer, 150000-300000 a swap."
          }
        ],
        "responses": {
          "200": {
            "description": "Gas data"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/trending": {
      "get": {
        "summary": "Tokens trending across the market right now",
        "x-price-usdc": "0.002",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25
            },
            "example": 5,
            "description": "Optional. Return only the top N tokens. Defaults to the provider's full list."
          }
        ],
        "responses": {
          "200": {
            "description": "Trending tokens"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/token/{address}": {
      "get": {
        "summary": "Onchain USD price for any Base token by contract address",
        "x-price-usdc": "0.001",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token price"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/address/{address}": {
      "get": {
        "summary": "Base address snapshot: ETH balance, tx count, contract or EOA",
        "x-price-usdc": "0.001",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address info"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/trending": {
      "get": {
        "summary": "Trending DEX pools on Base: price, volume, liquidity",
        "x-price-usdc": "0.002",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            },
            "example": 5,
            "description": "Optional. How many pools to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Trending pools"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/radar": {
      "get": {
        "summary": "New token radar: fresh Base pools that already hold real liquidity, spam filtered",
        "x-price-usdc": "0.003",
        "parameters": [
          {
            "name": "minLiquidity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1000000000,
              "default": 10000
            },
            "example": 50000,
            "description": "Optional. Liquidity floor in USD. Raise it to cut more spam, lower it to see everything new."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 15
            },
            "example": 5,
            "description": "Optional. How many pools to return, busiest first."
          }
        ],
        "responses": {
          "200": {
            "description": "New pools"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/feargreed": {
      "get": {
        "summary": "Crypto Fear & Greed index with yesterday comparison and optional daily history",
        "x-price-usdc": "0.001",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30
            },
            "example": 7,
            "description": "Optional. Add a daily history array covering this many days, so you can see whether sentiment is turning."
          }
        ],
        "responses": {
          "200": {
            "description": "Index"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/brief": {
      "get": {
        "summary": "One-call market brief: prices, Base gas, sentiment",
        "x-price-usdc": "0.005",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "btc,eth,sol"
            },
            "example": "eth,degen,aero",
            "description": "Optional. Comma-separated tickers or CoinGecko ids to price instead of the default majors, up to 6. Same flat price either way."
          }
        ],
        "responses": {
          "200": {
            "description": "Brief"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/try/premium": {
      "get": {
        "summary": "Turkish lira premium: implied vs official USD/TRY via a crypto cross-rate",
        "x-price-usdc": "0.002",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "btc",
                "eth",
                "usdt",
                "usdc"
              ],
              "default": "btc"
            },
            "example": "usdt",
            "description": "Optional. Which asset carries the cross-rate. USDT is the reading desks quote, because it is what actually changes hands."
          }
        ],
        "responses": {
          "200": {
            "description": "Premium"
          },
          "400": {
            "description": "Invalid query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/portfolio/{address}": {
      "get": {
        "summary": "Everything a Base address holds, valued in USD: ETH plus its ERC-20 tokens, largest first",
        "x-price-usdc": "0.003",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "minValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1000000000,
              "default": 1
            },
            "example": 100,
            "description": "Optional. USD floor per holding, which is what keeps airdropped spam out of the answer."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            },
            "example": 10,
            "description": "Optional. How many holdings to list. The total always covers everything above the floor, listed or not."
          }
        ],
        "responses": {
          "200": {
            "description": "Holdings, totals, and how many were hidden or could not be priced"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/base/name/{nameOrAddress}": {
      "get": {
        "summary": "Basename resolution both ways: a name returns its address, owner and text records; a 0x address returns its primary basename",
        "x-price-usdc": "0.001",
        "parameters": [
          {
            "name": "nameOrAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "agenttoll.base.eth",
            "description": "A basename (the .base.eth suffix is optional) or a 0x address"
          }
        ],
        "responses": {
          "200": {
            "description": "Resolution result"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/watch/address/{address}": {
      "get": {
        "summary": "New activity for a Base address since your cursor. The reply's `cursor` is what you pass as `since` next time.",
        "x-price-usdc": "0.002",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO timestamp cursor from the previous reply"
          }
        ],
        "responses": {
          "200": {
            "description": "Events since the cursor"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/watch/radar": {
      "get": {
        "summary": "Only the Base pools that appeared since your cursor",
        "x-price-usdc": "0.003",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO timestamp cursor from the previous reply"
          }
        ],
        "responses": {
          "200": {
            "description": "New pools since the cursor"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    },
    "/api/watch/price/{symbol}": {
      "get": {
        "summary": "Price alert check: has the asset moved past your threshold from your reference price?",
        "x-price-usdc": "0.001",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eth"
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Reference price in USD"
          },
          {
            "name": "pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 2
            },
            "description": "Threshold in percent"
          }
        ],
        "responses": {
          "200": {
            "description": "Alert state"
          },
          "400": {
            "description": "Invalid path or query parameter (not charged)"
          },
          "402": {
            "description": "x402 payment quote"
          }
        }
      }
    }
  }
}
